name: push-master

on:
  push:
    branches:
      - master

env:
  PACKAGES: "mercury"

jobs:
  init:
    runs-on: ubuntu-latest
    outputs:
      matrix_packages: ${{ steps.set-matrix-packages.outputs.matrix_packages }}
      lint_args_packages: ${{ steps.set-matrix-packages.outputs.lint_args_packages }}
    steps:
      - name: Checkout code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Set matrix packages
        id: set-matrix-packages
        shell: bash
        env:
          PACKAGES: ${{ env.PACKAGES }}
        run: |
          matrix_packages=$(echo "${PACKAGES}" | jq -R 'split(",")' | tr -d "\n\t")
          echo "matrix_packages=${matrix_packages}" | tee -a "${GITHUB_OUTPUT}"
      - name: Set lint args packages
        id: set-lint-args-packages
        shell: bash
        env:
          PACKAGES: ${{ env.PACKAGES }}
        run: echo "lint_args_packages=$(echo "./$(echo $PACKAGES | sed 's/,/\/... .\//g;s/$/\/.../')")" | tee -a "${GITHUB_OUTPUT}"

  ci-lint:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      actions: read
    steps:
      - name: ci-lint
        uses: smartcontractkit/.github/actions/ci-lint-go@944f2dce535bee4b9bf9677b6983d8a3b78111bf
        with:
          # env inputs
          use-env-files: "true"
          env-files: ./tools/env/ci.env
          # go inputs
          use-go-cache: true
          go-cache-dep-path: "**/go.sum"
          go-version-file: go.mod
          golangci-lint-version: "latest"

  ci-test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      actions: read
    steps:
      - name: ci-test
        uses: smartcontractkit/.github/actions/ci-test-go@ci-test-go/0.3.5
        with:
          # docker inputs
          use-docker-compose: "true"
          docker-compose-workdir: ./tools/docker/setup-postgres
          # env inputs
          use-env-files: "true"
          env-files: ./tools/env/ci.env
          # go inputs
          use-go-cache: "true"
          go-cache-dep-path: "**/go.sum"
          go-version-file: go.mod
          go-test-cmd: make test-ci

  ci-sonarqube:
    needs: [ci-lint, ci-test]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: ci-sonarqube
        uses: smartcontractkit/.github/actions/ci-sonarqube-go@3e11dbc45e4c8b18dd996fb417ccf22056176388 # ci-sonarqube-go@0.1.0
        with:
          # sonarqube inputs
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          sonar-host-url: ${{ secrets.SONAR_HOST_URL }}

  cd-release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    outputs:
      changesets_published: ${{ steps.cd-release.outputs.published }}
      changesets_publishedPackages: ${{ steps.cd-release.outputs.publishedPackages }}
    steps:
      - name: cd-release
        id: cd-release
        uses: smartcontractkit/.github/actions/cicd-changesets@6da79c7b9f14bec077df2c1ad40d53823b409d9c # cicd-changesets@0.3.3
        with:
          # general inputs
          git-user: app-token-issuer-foundations[bot]
          git-email: app-token-issuer-foundations[bot]@users.noreply.github.com
          pnpm-use-cache: false
          # aws inputs
          aws-region: ${{ secrets.AWS_REGION }}
          aws-role-arn: ${{ secrets.AWS_OIDC_CHAINLINK_DATA_STREAMS_CI_CHANGESET_TOKEN_ISSUER_ROLE_ARN }}
          aws-lambda-url: ${{ secrets.AWS_FOUNDATIONS_GATI_URL }}
